body{background-color:#F1DB82;}

body{
    color: #82D0F1;
}


.clicked {
    color: #BABAB9;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}
.form,
.greetings {
    display: none;
}

.showing{
    display: block;
}